/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Variables */
:root {
 --primary-color: #0B2434;
 --secondary-color: #F5F5F5;

--primary-ff-color:#2B283A;
--secondary-ff-color:#4A4E74;
--tertiary-ff-color:#59E391;

--button-color: #5035FF;

/* Typography */
--ff-primary: 'Karla', sans-serif;
--ff-secondary: 'Inter', sans-serif;

/* Font Sizes */
--fs-heading: 2rem;
--fs-body: 1rem;
--fs-number-keys: 1.2rem;
--fs-button:1rem;

/* Font Weights */
--fw-bold: 700;
--fw-regular: 400;

/* letter spacing */
--ls-heading: -0.048rem;
--ls-body: -0.024rem;
}

/* Custom Properties */

body{
  background-color: var(--primary-color);
  
  display: grid;
  place-items: center;
}

main{
  background-color: var(--secondary-color);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  width: min(100%, 320px);
  
  padding: 2rem;
  border-radius: 0.63rem;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.48rem;
}

header > h1{
  font-size: var(--fs-heading);
  letter-spacing: var(--ls-heading);
  color: var(--primary-ff-color);
  font-weight: var(--fw-bold);
  font-family: var(--ff-primary);
}

header > p{
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  letter-spacing: var(--ls-body);
  color: var(--secondary-ff-color);
  font-weight: var(--fw-regular);
  text-align: center;
}

section{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;

  margin: 1.5rem 0;
}

.die{
  background-color: #FFF;
  width: 42px;
  height: 42px;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.die-num{
  font-size: var(--fs-number-keys);
  font-weight: var(--fw-bold);
  font-family: var(--ff-primary);
  color: var(--primary-ff-color);
}

button{
  background-color: var(--button-color);
  padding: 0.6rem 1.6rem;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);

  max-width: 100%;
 
  height: auto;
  cursor: pointer;
}

span{
  font-family: var(--ff-primary);
  font-size: var(--fs-button);
  color: #FFF;
  font-weight: var(--fw-bold);
}

.dieFace{
  background-color: #FFF;
  width: 46px;
  height: 44px;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  cursor: pointer;
  padding: 4px;
  gap: 4px;
}

.dot{
  width: 8px;
  height: 8px;
  border-radius: 99%;
  background-color: black;
}

.dot-1 { grid-area: 1 / 1; }  /* top-left */
.dot-2 { grid-area: 1 / 2; }  /* top-center */
.dot-3 { grid-area: 1 / 3; }  /* top-right */
.dot-4 { grid-area: 2 / 1; }  /* middle-left */
.dot-5 { grid-area: 2 / 2; }  /* center */
.dot-6 { grid-area: 2 / 3; }  /* middle-right */
.dot-7 { grid-area: 3 / 1; }  /* bottom-left */
.dot-8 { grid-area: 3 / 2; }  /* bottom-center */
.dot-9 { grid-area: 3 / 3; }  /* bottom-right */

